<!DOCTYPE html>
<html lang="uz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firdavs Abdiazizov - Resume</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="resume">
      <header>
        <h1>John Doe</h1>
        <p class="position">Fullstack Developer</p>
        <div class="contact">
          <p>
            Email:
            <a href="mailto:john@gmail.com"
              >john@gmail.com@gmail.com</a
            >
          </p>
          <p>
            <a href="https://t.me/john_doe">Telegram</a> |
            <a href="https://www.linkedin.com/in/john_doe"
              >LinkedIn</a
            >
            |
            <a href="https://github.com/john">GitHub</a>
          </p>
        </div>
      </header>

      <section>
        <h2>🛠 Programming Languages and Technologies</h2>
        <p><strong>Languages:</strong> JavaScript, TypeScript</p>
        <p>
          <strong>Technologies:</strong> HTML5, CSS3, SASS, Bootstrap, Tailwind,
          MUI, Headless UI, Framer Motion, React, Next.js, Redux, Node.js,
          Express, Nest.js, Socket.io, PostgreSQL, MongoDB, Sequelize, Prisma,
          Docker, Git, Linux, CI/CD, Microservices, GRPC, RabbitMQ, Hygraph CMS,
          React Native
        </p>
      </section>
      <section>
        <h2>🌐 Languages</h2>
        <p>🇺🇿 Uzbek: Native</p>
        <p>🇬🇧 English: B1</p>
      </section>
    </div>
  </body>
</html>
